body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  height: 500px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

#listBuyer {
  background-color: #3B5998;
}

#tableList {
  width: 90%;
  color: #dd4b39;
}

#tableHeader td{
  text-align: center;
  padding: 10px;
  margin: 5px 0 5px 0;
}

.rowTable {
  text-align: center;
  color: #ffcc66;
  padding: 5px;
}